{% extends "src/main.html" %}


{% block content %}<br>
<div class="alert alert-primary" role="alert">
  <h3>All Profiles</h3>
</div>
{% if is_empty %}
	<h1>No profiles available</h1>
{% else %}
{% for i in qs %}
<br>
<div class="card">
  <div class="card-body">
  	

  	<div class="container">
  		<div class="row justify-content-between">
  			<!--
  			<div class="col-2 ">
  				<img src={{i.avatar.url}} class="rounded-circle z-depth-0" alt="avatar image" height="100">
    		</div>
			-->

    		<div class="col-9">
    				<h5>{{i.user.username}}</h5>
    				<p>{{i.bio}}</p>
		    		<div class="row">
		    			<div class="col-2">		
		    				<a class="btn btn-primary btn-sm" href="{% url 'detail_profile' i.slug  %}">See Profile</a>
		    			</div>
		    			<div class="col-4">
		    				{% if i.user not in rel_receiver and i.user not in rel_sender %}
		    				<form method="POST" action="{% url 'send_invitation' %}">
				    			{%  csrf_token %}
				    			<input type="hidden" name="profile_pk" value={{i.id}}>
				    			<button type="submit" class="btn btn-outline-success btn-sm">Add to friends</button> 
				    		</form>
				    		{% endif %}
								{% if i.user in rel_receiver or i.user in rel_sender %}
									{% if request.user not in i.friends.all %}
									<button type="submit" class="btn btn-outline-secondary  btn-sm" disabled>Waiting for responce</button>
				    				{% endif %}
				    			{% endif %}
				    		{% if request.user in i.friends.all %}
				    		<form method="POST" action="{% url 'remove_friends' %}">
				    			{%  csrf_token %}
				    				<input type="hidden" name="profile_pk" value={{i.id}}>
				    				<button type="submit" class="btn btn-outline-danger btn-sm">Remove from friends</button> 
				    		</form>
				    		{% endif %}
				    	</div>
				    </div>
    		</div>
    		
  	
  		</div>
	</div>
 

 </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}