{% extends "src/main.html" %}

{% block content %}
<br>
{% if messages %}
  	{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  		{{message}}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	{% endfor %}	
{% endif %}

<div class="jumbotron">
  <h1 class="display-4">Login</h1>
<form method="POST">
	{% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="input" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <hr class="my-4">
  <button type="submit" value="Login" class="btn btn-primary">Submit</button>
</form>	
<p>Already have account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock %}